body {
    margin: 0;
}

header div img {
    height: 100%;
    width: 100%;
}

#countdown {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
