body {
    margin: 0;
}

header div img {
    height: 100%;
    width: 100%;
}

#countdown {
    position: absolute; /* or relative, depending on your layout */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Optional styling for the h1 */
    text-align: center;
}
