body {
    margin: 0;
    background: linear-gradient(135deg, #ffffff, #d8cfc4);
}

nav {
    display: flex;
    justify-content: space-between;
}
#topbar {
    padding: 10px 30px;
    border-bottom: 1px solid #f0ba74;
    position: sticky;
    top: 0;
    background: #efccac;
}

#left-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

#right-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -1px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin-right: 15px;
    cursor: pointer;
}

#left-menu a {
    text-decoration: none;
    color: black;
}

#center-menu a {
    text-decoration: none;
    color: black;
}

#left-menu i {
    margin-right: 48px;
    font-size: 30px;
}

.menu-item{
    margin: 0;
    margin-right: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.3s, font-weight 0.2s;
    
}

.menu-item:hover {
    transform: scale(1.1);
    font-weight: 700;
}

#search-container {
    display: flex;
    justify-content: center;
}

#search-container i {
    font-size: 18px;
    color: #4a4a4a;
}

#search-box {   
    margin-top: 25px;
    width: 225px;
    background: #fff4e6; 
    color: #3a3a3a;
    border: 1px solid #d8bfa7;
    font-size: 14px;
    padding: 12px;
    padding-left: 28px;
    padding-right: 33px;
    border-radius: 25px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
    top: -14px;
}

#search-box:focus {
    border: 1px solid #ff7e5f;
    outline: none;
    background-color: #fdf6f1;
}

#right-menu i {
    position: relative;
    right: 32px;
    top: 24px;
    margin-right: 28px;
    cursor: pointer;
}

#search-container i:nth-of-type(2):hover {
    animation: button 1s forwards;
}

#profile-pic {
    width: 32px; 
    height: 32px; 
    border: 1px solid rgb(119, 114, 114);
    border-radius: 20px;
    position: relative;
    top: 14px;
    padding: 1px;
    right: 35px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}
  
.hero {
    text-align: center;
    margin-bottom: 50px;
}
  
.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}
  
.hero p {
    font-size: 18px;
    color: rgb(37, 36, 36);
}
  
.hero a {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    text-decoration: none;
}

.hero a:hover {
    background-color: #feb47b;
    animation: button 1s forwards;
}
  
.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
  
.services h2 {
    text-align: center;
}

.services ul {
    list-style: none;
    padding: 0;
}

a.no-underline {
    text-decoration: none;
    color: black;
}
  
.services li {
    text-align: center;
    margin-bottom: 30px;
    padding: 16px;
    border: 1px solid transparent;
    transition: background-color 0.3s, box-shadow 0.3s;
    
}

.services li:hover {
    cursor: pointer;
    background-color: #efccac; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    color: #333; 
    animation: zoom 1s forwards;
}
  
.services li i {
    font-size: 36px;
    margin-bottom: 10px;
}

  
.services li h4 {
    font-size: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.no-underline {
    text-decoration: none;
}
  
.testimonials {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 50px;
}
  
.testimonials h3 {
    text-align: center;
    margin-right: 32px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 45%;
    margin-right: 15px;
}

.testimonial p {
    font-size: 18px;
}
  
.testimonial span {
    font-style: italic;
    display: block;
    text-align: right;
}
  
.call-to-action {
    text-align: center;
    margin-top: 50px;
}
  
.call-to-action h2 {
    font-size: 30px;
}
  
.call-to-action p {
    font-size: 18px;
    color: rgb(37, 36, 36);
    margin-bottom: 20px;
}
  
.call-to-action a {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #ff7e5f;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
    text-decoration: none;
}

.call-to-action a:hover {
    background-color: #feb47b;
}

footer {
    text-align: center;
    padding: 20px;
    background: #f9f3e4;
    border-top: 1px solid #e0b89b;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

footer p {
    color: #4a4a4a;
}

@keyframes button {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        border-radius: 8px;
        transform: scale(1.12);
    }
}

@media (max-width: 400px){
    #topbar {
        padding: 1px 13px;
    }

    nav {
        flex-direction: column;
    }

    #left-menu, i {
        flex-direction: column;
    }
}

@media (max-width: 800px){  
    #topbar {
        padding: 0px 15px;
    }

    nav {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #left-menu {
        flex-direction: column;
        transform: translateY(10px);
    }   
    
    #right-menu {
        flex-direction: row;
        margin-left: 320px;
        transform: translateY(-38px);
    }
}

@media (max-width: 1000px)

