body {
    margin: 0;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
}

nav {
    display: flex;
    justify-content: space-between;
}
#topbar {
    padding: 12px 80px;
    border-bottom: 1px solid #f0ba74;
    position: sticky;
    background: #efccac;
}

#left-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo {
    font-size: 24px;
    font-weight: 900;
    letter-spacing: -1px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    margin-right: 15px;
    cursor: pointer;
}

#left-menu a {
    text-decoration: none;
    color: black;
}

#left-menu i {
    margin-right: 48px;
    font-size: 30px;
}

.menu-item{
    margin: 0;
    margin-right: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.3s, font-weight 0.2s;
    
}

.menu-item:hover {
    transform: scale(1.1);
    font-weight: 700;
}

#search-container {
    display: flex;
    justify-content: center;
}
#search-box {   
    margin-top: 25px;
    width: 225px;
    background: #ebc896; 
    color: #2c2b2b;
    border: 0.5px solid rgb(170, 168, 168);
    font-size: 13px;
    padding: 14px;
    padding-left: 28px;
    border-radius: 24px;
    box-sizing: border-box;
    position: relative;
    top: -14px;
}

#search-box:focus {
    border: none;
    outline: none;
    background-color: #f6e7d2;
}

#right-menu i {
    position: relative;
    right: 32px;
    top: 24px;
    margin-right: 28px;
    cursor: pointer;
}

#search-container i:nth-of-type(2):hover {
    animation: button 1s forwards;
}

#profile-pic {
    width: 32px; 
    height: 32px; 
    border: 1px solid rgb(119, 114, 114);
    border-radius: 20px;
    position: relative;
    top: 14px;
    padding: 1px;
    right: 35px;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.Registration-Form {
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    border-width: 1px;
    background-color: #f2f6ff;
    width: 700px;
}

.Registration-Form:hover {
    box-shadow: 4px 4px 10px #936745;
}

.Registration-Form h2 {
    font-weight: 600; 
    font-size: 32px; 
    padding-top: 56px; 
    padding-bottom: 32px; 
    text-align: center;
}

#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}

.social {
    font-size: 42px;
    margin: 25px 0px;
    align-items: center;
}

.social:hover {
    animation: button 1s forwards;
}

#input {
    padding: 40px 80px 40px 80px;
}

.input-label {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.input-item {
    font-size: 18px;
    padding-bottom: 12px;
    margin-bottom: 36px;
    border-bottom: 1px solid #ccc; border-bottom: 1px solid #ccc;
    border-top: none; border-left: none; border-right: none;
    width: 100%;
    background-color: #f2f6ff;;
}

.input-item:focus {
    outline: none;
}

#submit-button {
    background-color: #e6ab5d;
    padding-top: 12px; padding-bottom: 12px;   
    padding-left: 24px; padding-right: 24px;
    font-size: 18px;
    color: black;
    border: none;
    display: inline-block;
}

#submit-button:hover {
    animation: zoom 1s forwards;
}

@keyframes button {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        border-radius: 8px;
        transform: scale(1.13);
    }
}