body {
    margin: 0;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    padding: 0px 30px;
    border-bottom: 1px solid transparent;
    position: sticky;
    top: 0;
    background: #fff;

}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    align-items: center;
}

#logo {
    width: 45px;
    height: 45px;
}

#menu {
    display: flex;
    align-items: center;
}

.menu-item{
    margin: 0;
    margin-right: 24px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.3s, font-weight 0.2s;
    text-decoration: none;
}

.menu-item a {
    text-decoration: none;
    color: black;
}

#buy-btn {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(170, 210, 54);
    Padding: 9px 34px;
    border-radius: 4px;
}

#buy-btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}