body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

header {
    padding: 0px 15px 0px 30px;
    border-bottom: 1px solid transparent;
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    align-items: center;
}

#logo {
    width: 40px;
    height: 40px;
}

#menu {
    display: flex;
    align-items: center;
    margin-right: 28px;
}

.menu-item a {
    color: black;
    font-weight: 600;
    font-size: 14px;
    padding: 0px 30px;
    text-decoration: none;
}
 #dropdown-1, #dropdown-2 {
    color: black;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
 }

.menu-item i {
    padding-right: 16px;
}

.dropdown-demo {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

.dropdown-demo i {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-top: 2px solid rgb(170, 210, 54);
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    padding: 0px 20px;
}

.dropdown-demo:hover .dropdown-content {
    display: block;
    right: 0;
    left: auto;
    width: 150px;
}

.dropdown-content p {
    margin: 15px 10px;
    padding: 0px 20px;
    color: black;
    text-align: left;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.dropdown-content p:last-of-type {
    border-bottom: 1px solid transparent;
}

#dropdown-blocks i {
    cursor: pointer;
}

#buy-btn {
    font-size: 12px;
    font-weight: 600;
    background-color: rgb(170, 210, 54);
    padding: 9px 34px;
    border-radius: 4px;
    margin-left: 25px;   
}

#buy-btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

#buy-btn:hover {
    cursor: pointer;
}

#grid-container {
    display: grid;
    row-gap: 0;
    grid-template-areas: 
    'section1 section1 section1 section1 section1 section1'
    'section2 section2 section2 section2 section2 section2'
    'section3 section3 section3 section3 section3 section3'
    'section4 section4 section4 section4 section4 section4'
    'section5 section5 section5 section5 section5 section5'
    'section6 section6 section6 section6 section6 section6'
    'section7 section7 section7 section7 section7 section7'
    'section8 section8 section8 section8 section8 section8';
    grid-template-rows: 675px 575px 750px 875px 620px 325px auto 725px;
}

#section1{
    width: 100%;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png');
    background-size: cover;
    background-repeat: no-repeat;
    grid-area: section1;
}

#section1-heading {
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 8.8px;
    line-height: 1.2;
    text-align: center;
    margin-top: 190px;
}

#section1-description {
    margin-top: 16px;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    text-align: center;
}

#section2 {
    grid-area: section2;
    display: grid;
    grid-template-areas: 
    'step1 step2 step3 step4';
}

#step1 {
    background-color: #5acda6;
    grid-area: step1;
    padding: 112px 48px;
    text-align: center;
}

#step1 i {
    font-size: 90px;
    color: #fff;
}

#step1 h3 {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

#step1 p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}

#step1:hover i {
    animation: scale-up 1s forwards;
}

#step2 {
    background-color: #91ac41;
    grid-area: step2;
    padding: 112px 48px;
    text-align: center;
}

#step2 i {
    font-size: 90px;
    color: #fff;
}

#step2 h3 {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

#step2 p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}

#step2:hover i {
    animation: scale-up 1s forwards;
}

#step3 {
    background-color: #e4b476;
    grid-area: step3;
    padding: 112px 48px;
    text-align: center;
}

#step3 i {
    font-size: 90px;
    color: #fff;
}

#step3 h3 {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

#step3 p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}

#step3:hover i {
    animation: scale-up 1s forwards;
}

#step4 {
    background-color: #f69dad;
    grid-area: step4;
    padding: 112px 48px;
    text-align: center;
}

#step4 i {
    font-size: 90px;
    color: #fff;
    text-align: center;
}

#step4 h3 {
    font-weight: 600;
    font-size: 24px;
    color: #fff;
}

#step4 p {
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
    text-align: center;
    color: #fff;
}

#step4:hover i {
    animation: scale-up 0.1s forwards;
}

#section3 {
    background-color: #f7eee2;
    grid-area: section3;
}

#fresh-food-section3 {
    font-size: 24px;
    color: #91ac41;
    font-family: 'Caveat',cursive;
    margin: 0;
    text-align: center;
    padding-top: 100px;
    transform: translateY(25px);
}

#section3-heading {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
}

#section3-description {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
}

#store-items {
    display: grid;
    grid-template-areas: 
    'fresh-veggie high-quality sale best-price'; 
    grid-template-columns: repeat(4, 1fr);
    margin: 60px 150px;
    text-align: center;
}

#fresh-veggie {
    grid-area: fresh-veggie;
    padding: 12px;
}

#fresh-veggie i {
    color: #fff;
    font-size: 60px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 80px;
    padding: 35px;
    background-color: #e3b375;
}

#fresh-veggie h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#fresh-veggie p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
    text-align: center;
}

#fresh-veggie:hover i {
    animation: scale-up 0.3s forwards;
}

#high-quality {
    grid-area: high-quality;
    padding: 12px;
}

#high-quality i {
    color: #fff;
    font-size: 60px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 80px;
    padding: 35px;
    background-color: #e3b375;
}

#high-quality h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: black;
}

#high-quality p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
    text-align: center;
}

#high-quality:hover i {
    animation: scale-up 0.3s forwards;
}

#sale {
    grid-area: sale;
    padding: 12px;
}

#sale i {
    color: #fff;
    font-size: 60px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 80px;
    padding: 35px;
    background-color: #e3b375;
}

#sale h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: black;
}

#sale p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
    text-align: center;
}

#sale:hover i {
    animation: scale-up 0.3s forwards;
}

#best-price {
    grid-area: best-price;
    padding: 12px;
}

#best-price i {
    color: #fff;
    font-size: 60px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 80px;
    padding: 35px;
    background-color: #e3b375;
}

#best-price h3 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: black;
}

#best-price p {
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    color: #8b8b99;
    text-align: center;
}

#best-price:hover i {
    animation: scale-up 0.3s forwards;
}

#section4 {
    grid-area: section4;
    margin-bottom: 50px;
}

#fresh-food-section4 {
    font-size: 24px;
    color: #91ac41;
    font-family: 'Caveat',cursive;
    margin: 0;
    margin-top: 35px;
    text-align: center;
    padding-top: 100px;
}

#section4-heading {
    text-align: center;
    font-size: 44px;
    font-weight: 600;
    transform: translateY(-25px);
}

#section4-description {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
    transform: translateY(-45px);
}

#testimonial {
    display: grid;
    grid-template-areas: 
    'testimony-1 testimony-2 testimony-3'; 
    grid-template-columns: repeat(3, 1fr);
    margin: 75px 150px;
    text-align: center;
}

#testimony-1 {
    grid-area: testimony-1;
    background-color: #f5f6fb;
    border-radius: 45px 0px 45px 45px;
    padding: 40px 12px;
    margin-right: 25px;
}

#testimony-1 img {
    border-radius: 50%;
    width: 80px;
}

#testimony-1 p {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    color: #8b8b99;
    line-height: 1.5;
}

#testimony-1 h3 {
    font-size: 16px;
    font-weight: 600;
    transform: translateY(30px);
}

#testimony-1 h6 {
    font-size: 12px;
    color: #8b8b99;
    font-style: italic;
    transform: translateY(8px);
}

#testimony-1:hover {
    box-shadow: 4px 4px 4px rgb(222, 220, 220);
}

#testimony-2 {
    grid-area: testimony-2;
    background-color: #f5f6fb;
    border-radius: 45px 0px 45px 45px;
    padding: 40px 12px;
    margin-right: 25px;
}

#testimony-2 img {
    border-radius: 50%;
    width: 80px;
}

#testimony-2 p {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    color: #8b8b99;
    line-height: 1.5;
}

#testimony-2 h3 {
    font-size: 16px;
    font-weight: 600;
    transform: translateY(50px);
}

#testimony-2 h6 {
    font-size: 12px;
    color: #8b8b99;
    font-style: italic;
    transform: translateY(28px);
}

#testimony-2:hover {
    box-shadow: 4px 4px 4px rgb(222, 220, 220);
}

#testimony-3 {
    grid-area: testimony-3;
    background-color: #f5f6fb;
    border-radius: 45px 0px 45px 45px;
    padding: 40px 25px;
}

#testimony-3 img {
    border-radius: 50%;
    width: 80px;
}

#testimony-3 p {
    font-size: 14px;
    letter-spacing: 0.5px;
    font-style: italic;
    color: #8b8b99;
    line-height: 1.5;
}

#testimony-3 h3 {
    font-size: 16px;
    font-weight: 600;
    transform: translateY(28px);
}

#testimony-3 h6 {
    font-size: 12px;
    color: #8b8b99;
    font-style: italic;
    transform: translateY(5px);
}

#testimony-3:hover {
    box-shadow: 4px 4px 4px rgb(222, 220, 220);
}

#section5 {
    grid-area: section5;
    display: grid;
    grid-template-areas: 
    'left-side left-side left-side left-side left-side left-side left-side right-side right-side';
}

#left-side {
    grid-area: left-side;
    background-image: url('https://mobirise.com/extensions/organicamp/assets/images/19.jpg');
    background-size: cover;
}

#right-side {
    grid-area: right-side;
    background-image: url('https://edyoda.s3.ap-south-1.amazonaws.com/public/strawberry-white.png');
    background-size: cover;
    background-repeat: no-repeat;  
}

#right-side-elements {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 85px;
}

#section5-heading h1 {
    text-align: center;
    font-size: 44px;
}

#section5-description p {
    text-align: left;
    font-size: 16px;
    color: #8b8b99;
    transform: translateY(-30px);
    line-height: 1.5;
    word-wrap: break-word;
}

#email-container {
    text-align: left;
}

#email-container form input:first-of-type {
    padding: 12px;
    font-size: 16px;
    border: 1px solid transparent;
    background-color: white;
    border-radius: 5px;
    transform: translateY(-15px);
}

#email-container form input:first-of-type:focus {
    outline: none;
}

#subscribe-button {
    font-size: 16px;
    text-align: center;
    padding: 18px 32px;
    background-color: #f69dad;
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 5px;
    transform: translateY(-15px);
}
#subscribe-button:hover {
    background-color: transparent;
    border: 1px solid pink;
    color: pink;
}

#section6 {
    grid-area: section6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(251, 253, 251);
}

#experience {
    padding-left: 55px;
}

#experience h2 {
    font-size: 44px;
    text-align: center;
}

#experience p {
    font-size: 16px;
    font-style: italic;
    color: #95eacd;
    transform: translateY(-25px);
}

#customers h2 {
    font-size: 44px;
    text-align: center;
}

#customers p {
    font-size: 16px;
    font-style: italic;
    color: #95eacd;
    transform: translateY(-25px);
}

#satisfaction h2 {
    font-size: 44px;
    text-align: center;
}

#satisfaction p {
    font-size: 16px;
    font-style: italic;
    color: #95eacd;
    transform: translateY(-25px);
}

#smoothies {
    padding-right: 55px;
}

#smoothies h2 {
    font-size: 44px;
    text-align: center;
}

#smoothies p {
    font-size: 16px;
    font-style: italic;
    color: #95eacd;
    transform: translateY(-25px);
}

#section7 {
    grid-area: section7;
}

#section7-header {
    text-align: center;
    font-size: 28px;
    padding: 35px;
    color: #8b8b99;
    transform: translateY(-30px);
}

.line {
    color: rgb(237, 201, 201);
    transform: translateY(-10px);
}

#section7-video {
    display: flex;
    justify-content: center;
    padding-bottom: 75px;
}

#section8 {
    grid-area: section8;
    display: flex;
    flex-direction: row;
    text-align: left;
    justify-content: center;
}

#address-info {
    grid-area: address-info;
    margin: 0px 75px 0px 55px;
}

#address-info h5 {
    font-size: 24px;
    color: #91ac41;
    font-family: 'Caveat',cursive;
    transform: translateY(35px);
}

#address-info h1 {
    font-size: 50px;
}

#address-info p {
    color: #8b8b99;
    transform: translateY(-20px);
    font-size: 18px;
}

#address-info h3 {
    font-size: 24px;
}

#address-info li {
    list-style-type: none;
    font-size: 18px;
    line-height: 1.8;
    color: #8b8b99;
    transform: translateY(-20px);
}

#contact {
    grid-area: contact;
    margin: 0px 55px 0px 75px;
}

#contact h5 {
    font-size: 24px;
    color: #91ac41;
    font-family: 'Caveat',cursive;
    transform: translateY(35px);
}

#contact h1 {
    font-size: 50px;
}

#contact p {
    color: #8b8b99;
    transform: translateY(-20px);
    font-size: 18px;
}

#contact form input {
    font-size: 18px;
    padding: 16px;
    margin: 8px 0px;
    border: 1px solid rgb(232, 228, 228);
    border-radius: 8px;
    width: 100%;
    transform: translateY(-30px);
}

#contact form input:focus {
    outline: none;
}

#contact textarea {
    width: 100%;
    border: 1px solid rgb(232, 228, 228);
    border-radius: 8px;
    padding: 16px;
    font-size: 18px;
    transform: translateY(-25px);
}

#contact textarea:focus {
    outline: none;
}
#contact form input:last-of-type {
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(170, 210, 54);
    padding: 12px 34px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    width: 42%;
    margin-top: 20px;
}

#submit-button:hover {
    cursor: pointer;
}

#section9 {
    background-color: #232323;
    color: white;
    padding: 15px;
    text-align: center;
}

@keyframes scale-up {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.11);
    }
}

@media (max-width: 900px) {
    header {
        padding: 0px 0px 0px 25px;
    }

    .menu-item ,.dropdown-demo, #dropdown-blocks{
        display: none;
    }

    #buy-btn {
        position: fixed;
        right: 25px;
    }

    #grid-container {
        display: grid;
        row-gap: 0;
        grid-template-areas: 
        'section1 section1 section1 section1 section1 section1'
        'section2 section2 section2 section2 section2 section2'
        'section3 section3 section3 section3 section3 section3'
        'section4 section4 section4 section4 section4 section4'
        'section5 section5 section5 section5 section5 section5'
        'section6 section6 section6 section6 section6 section6'
        'section7 section7 section7 section7 section7 section7'
        'section8 section8 section8 section8 section8 section8';
        grid-template-rows: 1300px auto auto auto auto auto auto auto;
    }

    #section1{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #section1-heading {
        font-size: 35px;
        margin-top: 0px;
    }
    
    #section1-description {
        margin-top: 0px;
        text-align: center;
    }

    #section2 {
        grid-template-areas: 
        'step1'
        'step2'
        'step3'
        'step4';
    }

    #fresh-food-section3 {
        padding-top: 50px;
        transform: translateY(0px);
    }

    #section3-heading {
        transform: translateY(-25px);
    }
    
    #section3-description {
        transform: translateY(-45px);
        font-size: 20px;
    }

    #store-items {
        grid-template-areas:
        'fresh-veggie'
        'high-quality'
        'sale'
        'best-price';
        grid-template-columns: auto;
        margin: 0px 0px 35px 0px;
    }

    #fresh-veggie, #high-quality, #sale, #best-price {
        margin-top: 20px;
    }

    #section4 {
        grid-area: section4;
        margin-bottom: 50px;
    }
    
    #fresh-food-section4 {
        padding-top: 40px;
        transform: translateY(0px);
    }
    
    #section4-heading {
        transform: translateY(-25px);
    }
    
    #section4-description {
        transform: translateY(-45px);
        font-size: 20px;
    }
    
    #testimonial {
        grid-template-areas: 
        'testimony-1' 
        'testimony-2' 
        'testimony-3'; 
        grid-template-columns: auto;
        margin: 0px 0px 15px 0px;
    }
    
    #testimony-1 {
        width: 100%;
        margin: 30px 0px 0px 0px;
    }
    
    #testimony-1 p {
        font-size: 14px;
    }
    
    #testimony-1 h3, #testimony-1 h6, #testimony-2 h3, #testimony-2 h6  {
        transform: translateY(0);
    }
    
    #testimony-2 {
        margin: 30px 0px 0px 0px;
    }
    
    #testimony-2 p {
        font-size: 14px;
    }
    
    #testimony-3 {
        margin: 30px 0px 0px 0px;
    }

    #section5 {
        grid-template-areas: 
        'left-side'
        'left-side'
        'left-side'
        'right-side';
        grid-template-rows: 400px 200px;
    }

    #right-side {
        display: flex;
        justify-content: left;
        padding: 0;
    }
    #right-side-elements {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 15px;
    }

    #section5-heading h1 {
        font-size: 35px;
    }
    
    #section5-description p {
        font-size: 18px;
        transform: translateY(-30px);
        padding-left: 0px;
    }
    
    #email-container {
        text-align: left;
    }
    
    #email-container form input:first-of-type {
        font-size: 18px;
        width: 100vw;
    }

    #section6 {
        flex-direction: column;
    }

    #experience {
        padding: 0;
    }
    
    #smoothies {
        padding: 0;
    }

    #section8 {
        flex-direction: column;
        text-align: left;
        align-items: left;
    }
    
    #address-info {
        margin-left: 25px;
    }
    
    #contact {
        margin-left: 25px;
    }
    
    #contact form input:last-of-type {
        width: 25%;
    }
    
    #section9 {
        background-color: #232323;
        color: white;
        padding: 15px;
        text-align: center;
    }

}
