body {
    font-family: Arial, sans-serif;
    background-color: #add8e6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-item:focus:required{
    background-color: lightsalmon;
}
input[type='email']:hover{
    background-color: lightgray;
    cursor: not-allowed;
    
}

input[type='number']:focus{
    background-color: lightblue;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #0056b3;
}
